{% extends "bootstrap/base.html" %}
{% block navbar %}

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Citas</a>
          <a class="navbar-brand" href="/pacientes">Pacientes</a>
        </div>
        
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Gestión de citas.</h2>
      </div>
    </div>

{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
  	
  	<div class="container">
	    {% block contenido %}{% endblock %}
  	</div>
  
</div>
    
    
{% endblock %}
